
    body{
      user-select: none;
      background-color: var(--main--backcolor) !important;
    }
    .log{
      max-height: 50px;
      width: auto;
      margin: 10px;
    }
    .page-section.main{
      background-color: var(--main--backcolor) !important;
      color: var(--main-color) !important;
      margin-top: 60px;
      padding-bottom: 0.1em;
    }
    .header-bg#mainNav a, .copyright.text-white .editable{
      color: var(--header--color) !important;
    }
    .copyright {
      background-color: var(--header--backcolor) !important;
      width: 100%;
      bottom: 0;
      z-index: 3000;
  }
    .header-bg{
      background-color: var(--header--backcolor);
    }
    .btn-default{
      color:var(--btn--color) !important;
      background-color: var(--btn--backcolor) !important;
      border-color:unset;
      border-radius:var(--filter--btn--radius--ui) !important;
    }
    .btn-default:hover{
      color:var(--btn--hover--color) !important;
      background-color: var(--btn--hover--backcolor) !important;
      border-color:unset;
    }
    .viz.edit {
      height: calc(100% + 25px) !important;
      position: absolute !important;
      top: -25px !important;
      transition: none;
    }
    .action-widget,.webedit-widget,.ask-widget,.webeditclose-widget,.askclose-widget{
      display:none;
    }
    .filter-container{
      display: flex;
      flex-direction: row;
      cursor: pointer;
      flex-wrap: wrap;
      height: 100%;
     align-items: center;
    }
    .filter_dropdown{
      margin: 12px;;
    }
    .grid-stack-placeholder >.placeholder-content {
      border-color: var(--gridplaceholder--bordercolor) !important;
      border-width: 2px !important;
    }
    .dropdown-menu{
      max-height: 30em;
      overflow-y: auto;
    }
    .grid-stack-item-content.filter-widget {
      overflow:unset !important;
    }

    .grid-stack-item-content {
      overflow-y: hidden !important;
      margin: var(--griditem--margin--ui) !important;
      background-color: var(--griditem--backcolor);
      text-align: center;
      transition: border 1.4s;
      inset:0px !important;
      border: 1px solid var(--griditem--bordercolor);
    }
    .grid-stack-item-content.highlight, .grid-stack.highlight   {
      border: 1px solid var(--grid--highlight--color);
      transition: all 2.8s;
    }
    section {
      padding: 0 15px 0 15px;
    }
    .viz{
      height: calc(100% - 0px);
      width: 100%;
      overflow: hidden;
      transition: all 2.8s;
    }
    .ui-resizable-se{
      right: 2px !important;
      bottom: 2px !important;
      background-image: none !important;
    }
    .ui-resizable-sw{
      left: 2px !important;
      bottom: 2px !important;
      background-image: none !important;
    }
    .ui-resizable-sw:hover {
      height: 50px !important;
      width: 100px !important;
      transform: rotate(0deg) !important;
    }
    .ui-resizable-se:hover {
      height: 50px !important;
      width: 100px !important;
      transform: rotate(0deg) !important;
    }
    .fa.ico-move{
      opacity: 0;
      transition: opacity 0.5s;
      position: absolute;
      top:3px;
      left: 2px;
    }
    .move-widget.extended-btn .ico-handle{
      font-size: 90px;
    }
    /* .move-widget.extended-btn{
      position: relative;
      width: 300px;
      height: 300px;
      border-radius: 150px;
      right: -45px;
      top:-30px;
      line-height: 3.2;
      z-index: 1000;
    } */
    .move-overlay:hover .ico-move{
      opacity: 1;
      transition: all 0.5s;
      top:3px;
      left: 2px;
    }
    .move-overlay:hover{
      transition: all 0.5s;
      cursor: move;
    }
    .move-overlay{
      width: 100%;
      height:15px;
      position: absolute;
      z-index: 99;
      font-size: 25px;
      font-weight: bolder;
      color:var(--dotted--color);
      text-align: start;
    }
    .move-overlay:hover ~ .widget-btn, .widget-btn:hover{
      opacity: 1;
      visibility: visible;
    }
    .widget-btn{
      z-index: 900;
      opacity: 0;
      position: absolute;
      border-radius: 20px;
      right: 10px;
      background-color: var(--btn--backcolor);
      top: 5px;
      transition: all 0.5s;
      visibility: hidden;
      display: flex;
      flex-direction: row;
    }
    .ico-handle{
      font-size: 20px;
      margin: auto;
      line-height: unset !important;
    }
    .btn-menu:hover{
      background-color: var(--btn--hover--backcolor);
      color: var(--btn--hover--color);
      transition: all 0.4s;
    }
    .btn-menu{
      color: var(--btn--color);
      z-index: 101;
      opacity: 1;
      cursor: pointer;
      border-radius: 50px;
      height: 30px;
      width: 30px;
    }
    .mask {
      height: 100%;
      width: 100%;
      z-index: 100;
      position: absolute;
      top: 0px;
      background-color:var(--loader--backcolor);
      display: flex;
      transition: all 2.8s;
    }