:root {
  --Header-Background: #35588c;
  --Header-Text: #ffffff; 
  --Button-Background: #6883a9;
  --Button-Background-Hover:#ff6d02;
  --Button-Text: #ffffff;
  --Button-Text-Hover:#ffffff;
  --Content-Background: #ffffff;
  --Content-Text: #ffffff;
  --Footer-Background: #35588c;
  --Footer-Text: #ffffff;
  }
