:root {
  --header-bg-color: #35588c;
  --button-bg-color: #6883a9;
  --content-bg-color: #ffffff;
  --footer-bg-color: #35588c;
  --btnhover-bg-color:#ff6d02;
  --header-tx-color: #ffffff;
  --button-tx-color: #ffffff;
  --content-tx-color: #ffffff;
  --footer-tx-color: #ffffff;
  --btnhover-tx-color:#ffffff;
  }